{%load static%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loading..</title>
    <link rel="stylesheet" href="{%static 'assets/css/loading.css'%}">
</head>
<body onload="showButton()">
    <div class="container">
        <div class="text">
            <h1>Checking token..</h1>
        </div>
        <div class="loading">
            <div class="line-box">
                <div class="line">
                </div>
                <button class="btn" id="myButton" style="display:none"> CHANGE</button>
            </div>
        </div>
    </div>
    <script>
        // Function to show the button after 2 seconds
        function showButton() {
            setTimeout(function() {
                document.getElementById("myButton").style.display = "block";
            }, 2000); // 2000 milliseconds = 2 seconds
            console.log("start 1");
        }
    </script>
    <script>
        // Lấy tham chiếu đến button
        const redirectButton = document.getElementById('myButton');
        
        // Thêm sự kiện click cho button
        redirectButton.addEventListener('click', function() {
            // Chuyển đến trang khác
            window.location.href = 'http://127.0.0.1:8000/newapp/user/'; 
        });
    </script>
    <!-- <script>
        // Đọc dữ liệu từ file JSON
        console.log('start');
        fetch('http://localhost:3000/user_types') 
            .then(response => response.json())
            .then(data => {
                const userTypes = data; // Giả sử user_types là một trường trong file JSON
                const redirectButton = document.getElementById('myButton');
                console.log(userTypes);

                // Thêm sự kiện click cho button
                redirectButton.addEventListener('click', function() {
                    console.log('start');
                    // Kiểm tra giá trị của userTypes và chuyển hướng tương ứng
                    if (userTypes === 'user') {
                        window.location.href = 'http://127.0.0.1:8000/newapp/user/'; 
                    } else if (userTypes === 'admin') {
                        window.location.href = 'http://127.0.0.1:8000/newapp/admin/'; 
                    } else {
                        // Xử lý khi userTypes không phải là 'user' hoặc 'admin'
                        console.log('Invalid user type');
                    }
                });
            })
            .catch(error => {
                console.error('Error fetching JSON:', error);
            });
    </script> -->
</body>
</html>