{%load static%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>REGISTER FORM</title>
    <link rel="stylesheet" href="{%static 'assets/css/register.css'%}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <div class="wrapper2">
        <div class="Form-register">
            <form action="" method="POST"> {% csrf_token %}
                <h1>Register</h1>
                <div class="input-box2">
                    <input type="text" placeholder="Username" name="user1" required>
                    <i class='bx bx-user'></i>
                </div>
                <div class="input-box2">
                    <input type="text" placeholder="Email" name="email1" required>
                    <i class='bx bx-envelope' ></i>
                </div>
                <div class="input-box2">
                    <input type="password" placeholder="Password" name="pass1" required>
                    <i class='bx bx-lock-alt'></i>
                </div>
                <div class="input-box2">
                    <input type="password" placeholder="Confirm password" name="cpass1" required>
                    <i class='bx bx-lock-alt'></i>
                </div>

                <div class="remember-forgot2">
                    <label> <input type="checkbox"> I agree to the terms and conditions</label>
                </div>
    
                <!-- <button class="btn2" onclick="window.location.href='Login.html'">Register</button> -->
                <button class="btn2">Register</button>
    
                <div class="login-link">
                    <p>Already have an account? <a href="Login.html">Login</a></p>
                </div>
            </form>
        </div>
    </div>

    

</body>
</html>