* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

#main {

}

.clear {
    clear: both;
}

.text-white {
    color: white !important;
}

#header {
    background-color: black;
    height: 46px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
}

#nav {
    display: inline-block;
}

#nav > li {
    display: inline-block;
}

#nav li {
    position: relative;
}

#nav > li > a {
    color: white;
    text-transform: uppercase;
}

#nav li a {                                                                 
    text-decoration: none;                                                              
    display: block;
    line-height: 46px;
    padding: 0 24px;
}

#nav li:hover .subnav {
    display: block;
}

/* viết gộp */
#nav .subnav li:hover a,
#nav > li:hover > a {
    background-color: #ccc;
    color: black;                   
}

#nav .subnav {
    display: none;
    position: absolute;
    top: 100%;
    background-color: white;
    list-style-type: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#nav .subnav a {
    color: black;
    padding: 0 16px;
    line-height: 38px;
}

.arrow-down-font {
    font-size: 12px;
}

#header .search-buttn {                                                                                                                                                                       
    float: right;                                                                                                                       
    padding: 0 20px;      
    cursor: pointer;                                                                                                                                                         
}

#header .search-buttn:hover {
    cursor: pointer;
    background-color: #f44336!important;
    cursor: pointer;
}

#header .search-icon {
    cursor: pointer;
    color: white;
    font-size: 20px;
    line-height: 46px;
}

#slider {
    position: relative;
    margin-top: 46px;
    padding-top: 50%;
    background: url(/assests/img/SLIDER/newyork.jpg) top center / cover no-repeat;
}

#slider .text-slider {
    color: white;
    bottom: 47px;
    position: absolute;
    /* left: 50%;
    transform: translateX(-50%); */
    width: 100%;
    text-align: center;
}

#slider .text-header {
    font-size: 24px;
}

#slider .text-detail {
    margin-top: 32px;
    font-size: 15px;
}


#content {

}

#content .content-section {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 64px 0 112px;
}

#content .section-heading {
    text-align: center;
    letter-spacing: 4px;
    font-weight: 100;
}

#content .section-sub-heading {
    text-align: center;
    margin-top: 25px;
    font-style: italic;
    opacity: 0.6;
}

#content .about-content {
    margin-top: 25px;
    text-align: justify;
    line-height: 1.4;
}

#content .member-list {
    margin-top: 48px;
}

#content .member-item {
    float: left;
    width: 33.33333%;
    text-align: center;
}

#content .member-img {
    width: 154px;
    margin-top: 15px;
    border-radius: 5px;
}

#content .member-name {
    font-size: 15px;
}

#content .tour-section {
    background-color: black;
}

#content .ticket-list {
    background-color: white;
    margin-top: 40px;
}

#content .ticket-list li {
    font-size: 15px;
    padding: 10px 15px;
    border-bottom: 1px solid #757575;
    color: #757575;
    list-style: none;
}

#content .ticket-list .sold-out {
    background-color: #f44336;
    color: white;
    padding: 3px 4px;
    margin-left: 10px;
}

#content .ticket-list .quantity {
    float: right;
    background-color: black;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    text-align: center;
    color: white;
    line-height: 24px;
    margin-top: -2px;
}

#content .place-list {
    margin-left: -8px;
    margin-right: -8px;
}

#content .place-item {
    float: left;
    width: 33.33333%;
    padding: 8px;
    color: black;
}

#content .place-body {
    background-color: white;
    font-size: 15px;
    padding: 16px;
}

#content .place-img {
    width: 100%;
    margin-top: 32px;
    display: block;
}

#content .place-img:hover {
    opacity: 0.6;
}

#content .place-heading {
    font-size: 15px;
    
    margin-bottom: 15px;
}

#content .place-time {
    opacity: 0.6;
}

#content .place-desc {
    margin-top: 15px;
    margin-bottom: 15px;
    line-height: 1.4;
}

#content .buy-buttn {
    text-decoration: none;
    background-color: black;
    color: white;
    padding: 11px 14px;
    display: inline-block;
    border: none;
}

#content .buy-buttn:hover {
    background-color: #ccc;
    color: black;
}

.modal.open {
    display: flex;
}

.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
    display: none;
}

.modal-container {
    background-color: white;
    width: 900px;
    max-width: calc(100% - 64px);
    min-height: 200px;
    position: relative;
}

.modal-close {
    position: absolute;
    color: white;
    right: 0;
    padding: 12px;
}

.modal-close:hover {
    background-color: #ccc;
    color: black;
    cursor: pointer;
}

.modal-header {
    width: 100%;
    background-color: #009688;
    text-align: center;
    padding: 42px;
    font-size: 30px;
    color: white;
    letter-spacing: 4px;
}

.ti-briefcase {
    margin-right: 12px;
}

.modal-body {
    padding: 16px;
}

.modal-label {
    display: block;
    margin-bottom: 15px;
}

.modal-input {
    margin-bottom: 15px;
    width: 100%;
    padding: 8px;
    font-size: 15px;
}

.modal-buttn {
    width: 100%;
    background-color: #009688;
    color: white;
    padding: 16px;
    font-size: 15px;
    border: none;
}

.modal-buttn:hover {
    background-color: #ccc;
    color: black;
}

.modal-footer {
    float: right;
    margin-right: 15px;
    margin-bottom: 40px;
}

.modal-help {
    color: #2196F3;
}

#content .contact {
    display: inline;
}

#content .contact-info {
    margin-top: 47px;
    font-size: 18px;
    line-height: 1.5;
    float: left;
}

#content .contact-info i[class*="ti-"] {
    width: 30px;
    display: inline-block;
}

#content .contact-info li {
    list-style: none;
}

#content .contact-form {
    float: right;
    margin-top: 47px;
    font-size: 15px;
}

#content .contact-form .form-control {
    padding: 8px;
    border: 1px #ccc solid;
}

#content .contact-name {
    margin-right: 11px;
}

#content .contact-email {

}

#content .contact-submit {
    float: right;
    background-color: black;
    color: white;
    border-style: none;
    margin-top: 16px;
    padding: 10px 12px;
}

#content .contact-submit:hover {
    background-color: #ccc;
    color: black;
    cursor: pointer;
}

#content .contact-message {
    width: 100%;
    margin-top: 8px;
}

#content .map-section img{
    margin-top: 96px;
    width: 100%;
}

#footer {
    text-align: center;
    padding: 64px;
}

#footer .footer-social-link {
    font-size: 24px;
    display: text;
}

#footer .footer-social-link i[class*="ti-"]:hover {
    color: #ccc;
}

#footer .footer-content {
    font-size: 15px;
    color: rgba(0, 0, 0, 0.6);
    padding: 15px;
}

#footer .footer-content a,
#footer .footer-social-link a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.6);
}